<%- include('header.ejs') %>
    <%- include('nav.ejs') %>

        <div class="col mb-5">
            <h2 style="color: #8F00FF;">Development Process!!!</h2>
            <hr class="my-custom-line mb-4">
            <div>
                <ol style="font-size: 20px;">
                    <li> Created static pages of Contact, Blog and About containing website information.</li>
                    <li> Designed the Home page including 2 form links for lost and found pet respectively.</li>
                    <li> Home page also displays the data of the found and lost pets.</li>
                    <li> At bottom it contains footer with email and phone number details.</li>
                    <li> Connected our website to Sqlite3 database and stored the form details and images.</li>
                    <li> Fetch the images from the database abd display in home page.</li>
                    <li> Applied Form Validation.</li>
                    <li> protected our site by login page/signup page.</li>
                    <li> connected the login/signup data of users to other form tables to sync information and keep
                        track of
                        it.</li>
                    <li>Logout button which destroys all the session of current user.</li>
                </ol>
            </div>
        </div>



        <%- include('foot.ejs') %>
            <%- include('footer.ejs') %>