<%- include('header.ejs') %>
    <%- include('nav.ejs') %>
    <!-- heading information about website -->
        <div class="container mt-5">
            <h1 class="mt-5 mb-4 contact-heading">Who We Are</h1>
            <p>Lost and Found Pet Website is a free service that helps pet owners find their lost pets and reunite them
                with their families. Our website allows users to report lost or found pets and browse through listings
                of lost and found pets in their area.</p>
            <p>Our team is made up of passionate pet lovers who are dedicated to helping animals in need. We understand
                the heartbreak of losing a beloved pet and the joy of being reunited with them, which is why we created
                this website to make the process easier for pet owners.</p>
            <p>We work closely with local animal shelters and rescue organizations to promote responsible pet ownership
                and raise awareness about lost and found pets. We also provide resources and tips for pet owners on our
                website to help prevent pets from becoming lost and increase their chances of being found if they do
                become lost.</p>
            <p>Our goal is to create a community of pet owners who look out for each other and help reunite lost pets
                with their families. If you're interested in supporting our cause, please consider making a donation to
                help us continue our work.</p>
            <p>Thank you for visiting Lost and Found Pet Website, and please don't hesitate to contact us if you have
                any questions or feedback.</p>
        </div>
        <div class="container mt-5">
            <h1 class="mt-5 mb-4 contact-heading">Reviews of Reunited Pets</h1>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 col-12	col-sm-12 col-lg-6 col-xl-3 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img src="http://localhost:3000/image/5" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">LUNA </h5>
                                <p class="card-text">I recently usedPet Finder to search for my missing dog, and I was incredibly impressed with the website's features and functionality. It was easy to navigate, and posting information about my lost pet was a straightforward process. </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12	col-sm-12 col-lg-6 col-xl-3 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img src="http://localhost:3000/image/4" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">DAISY</h5>
                                <p class="card-text">I found the website's customer service to be excellent. When I had some questions about how to use the website, I was able to get in touch with a representative quickly, and they were very friendly and helpful.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12	col-sm-12 col-lg-6 col-xl-3 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img src="http://localhost:3000/image/6" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">TERRY</h5>
                                <p class="card-text">Thanks to Lost and Found Pets, I was able to reunite with my dog after just a few days of searching. I can't recommend this website enough to anyone who is looking for a lost pet or trying to reunite a found pet with its owner. </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12	col-sm-12 col-lg-6 col-xl-3 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img src="http://localhost:3000/image/3" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">LEO</h5>
                                <p class="card-text">I appreciated the helpful tips and guidance provided on the website, which gave me some ideas about where to search for my dog. It's a great resource that can make a big difference in getting pets back home where they belong!</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <h1 class="mt-5 contact-heading text-center mb-5">OUR TEAM </h1>
            <div class="row mt-5">
                <div class="col-md-3">
                    <h2>John Smith</h2>
                    <p>Co Founder</p>
                </div>
                <div class="col-md-3">
                    <h2>David Smith</h2>
                    <p>Manager</p>
                </div>
                <div class="col-md-3">
                    <h2>Oliver Sans</h2>
                    <p>Volunteer</p>
                </div>
                <div class="col-md-3">
                    <h2>Chritopher</h2>
                    <p>Volunteer</p>
                </div>

            </div>
        </div>
        <%- include('foot.ejs') %>
            <%- include('footer.ejs') %>