<%- include('header.ejs') %>
    <%- include('nav.ejs') %>




        <div class="container mb-4">
            <div class="row">
                <div class="col">
                    <h2>Welcome To Pet Finder!!!</h2>
                    <hr class="my-custom-line">
                    <p>Welcome to the Lost and Found website for pets, where we help reunite pets with their rightful
                        owners.
                        Losing
                        something valuable can be a stressful and frustrating experience, but we are here to assist you
                        in
                        finding
                        your lost item. Our website is designed to make the process of reporting lost items and
                        searching
                        for lost
                        items as easy as possible. The main purpose is to Promote the Welfare of Animals which is
                        beneficial
                        to the
                        community in a way the law regards as charitable.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-3"> Lost an Animal </h5>
                            <hr class="my-custom-line">
                            <p class="card-text">Please fill out the appropriate form below to report your animal/pet
                                missing to
                                Pet Finder
                            </p>
                            <div class="text-center">
                                <a href="lost" class="btn btn-primary form-button w-75">Lost Pet Form</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-3">Found an Animal</h5>
                            <hr class="my-custom-line">
                            <p class="card-text">If you have someone’s pet in your possession, fill out the form below
                                to
                                report it to
                                Pet Finder.</p>
                            <div class="text-center">
                                <a href="found" class="btn btn-primary form-button w-75">Found Pet Form</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container mb-4">
            <h1 class="mb-4">Lost And Found Animals</h1>
            <hr class="my-custom-line">

            <div class="row">
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3">
                    <div class="card">
                        <img src="http://localhost:3000/image/7" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">LOST DOG: TEDDY </h5>
                            <a href="http://localhost:3000/display-data" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3">
                    <div class="card">
                        <img src="http://localhost:3000/image/3" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">LOST CAT: LOLA</h5>
                            <a href="#" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3">
                    <div class="card">
                        <img src="http://localhost:3000/image/2" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">FOUND DOG: CLOVER</h5>
                            <a href="#" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3">
                    <div class="card">
                        <img src="http://localhost:3000/image/4" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">LOST CAT: LILI</h5>
                            <a href="#" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3 ">
                    <div class="card">
                        <img src="http://localhost:3000/image/6" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">FOUND DOG: TERRY</h5>
                            <a href="#" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3 ">
                    <div class="card">
                        <img src="http://localhost:3000/image/5" class="card-img-top" alt="...">

                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">LOST DOG: ARCHIE</h5>
                            <a href="#" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3">
                    <div class="card">
                        <img src="http://localhost:3000/image/88" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">ROAMING DOG: BLOCK BUDDY</h5>
                            <a href="#" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3 ">
                    <div class="card">
                        <img src="http://localhost:3000/image/86" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">LOST DOG: BELLA</h5>
                            <a href="#" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3 ">
                    <div class="card">
                        <img src="http://localhost:3000/image/87" class="card-img-top" alt="...">

                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">REUNITED - LOST CAT: ONYX</h5>
                            <a href="#" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3">
                    <div class="card">
                        <img src="http://localhost:3000/image/89" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">LOST CAT: POPPY </h5>
                            <a href="#" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3 ">
                    <div class="card">
                        <img src="http://localhost:3000/image/90" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-3">LOST CAT: LUNA</h5>
                            <a href="#" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
                <div class="col-12	col-sm-12	col-md-6	col-lg-4	col-xl-4 mb-3 ">
                    <div class="card">
                        <img src="http://localhost:3000/image/91" class="card-img-top" alt="...">

                        <div class="card-body text-center">
                            <h5 class="card-title mb-3"> LOST CAT: LEO</h5>
                            <a href="#" class="btn btn-primary post-btn">VIEW POST</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <%- include('foot.ejs') %>
            <%- include('footer.ejs') %>