<%- include('header.ejs') %>
    <%- include('nav.ejs') %>
        <div class="">

            <div class="container mt-3 mb-5" id="contact">
                <div class="row">
                    <div class="col">
                        <h2 class="contact-heading">Contact Pet Finder</h2>
                        <hr class="my-custom-line">
                        <p> If you have any questions or concerns about our Lost and Found Pet website, please don't
                            hesitate to
                            contact
                            us.

                            Please provide us with as much information as possible about your lost or found pet, along
                            with
                            your
                            contact
                            information.

                            If you need immediate assistance, we recommend calling us during our business hours, we're
                            here
                            to
                            help.

                            We take every inquiry seriously and will do our best to provide you with a satisfactory
                            response.
                        </p>
                    </div>
                </div>
                <div class="container contactgrid w-50">
                    <div class="row controw mt-5 ">
                        <div class="column contcolumn ">
                            <div class="text-center">
                                <i class="fa fa-address-card mb-3" style="font-size: 30px; margin-right: 20px;"
                                    aria-hidden="true"></i>
                                <p>
                                    <span class="contdetail">Abc 71 Cherry Court <br>SOUTHAMPTON SO53 5PD UK</span>
                                </p>
                            </div>
                            <hr class="my-custom-line ">
                        </div>
                        <div class="column contcolumn mt-3 ">
                            <div class="text-center">
                                <i class="fa fa-phone mb-3" style="font-size: 30px; margin-right: 20px;"
                                    aria-hidden="true"></i>
                                <p>
                                    <span class="contdetail">111-256-4895 OR 156-563-9867</span>
                                </p>
                            </div>
                            <hr class="my-custom-line ">
                        </div>
                    </div>
                    <div class="row controw">
                        <div class="column contcolumn mt-3">
                            <div class="text-center">
                                <i class="fa fa-envelope mb-3" style="font-size: 30px;margin-right: 20px;"
                                    aria-hidden="true"></i>
                                <p>
                                    <span class="contdetail">petfinderofficial@example.co.uk.in</span>
                                </p>
                            </div>
                            <hr class="my-custom-line mb-4">
                        </div>
                        <div class="column contcolumn mt-5">
                            <div class="text-center">
                                <i class="fa fa-instagram " style="font-size: 40px; margin-right: 90px;"
                                    aria-hidden="true"></i>
                                <i class="fa fa-whatsapp" style="font-size: 40px;margin-right: 90px;"
                                    aria-hidden="true"></i>
                                <i class="fa fa-facebook" style="font-size: 40px; margin-right: 90px;"
                                    aria-hidden="true"></i>
                                <i class="fa fa-twitter" style="font-size: 40px;margin-right: 90px;"
                                    aria-hidden="true"></i>
                                <hr class="my-custom-line mb-4">
                            </div>
                        </div>
                    </div>
                </div>

            </div>





            <%- include('foot.ejs') %>
                <%- include('footer.ejs') %>