<hr class="my-custom-line">
<div class="container mt-4 text-center">
    <div class="row h4">
        <p> <span class="contacthead">Call Us At : </span> 123-456-7890 <span class="contacthead"> OR </span>
            552-652-5697</p>
    </div>
    <div class="row h4">
        <p><span class="contacthead">Email At : </span> petfinderofficial@exmplegmail.com</p>
    </div>
</div>

</div>
<footer class="bg-light py-3">
    <div class="container ">
        <p>&copy; 2023 Pet Finder </p>
    </div>
</footer>